.pitch {
	position: absolute;
	top: 100px;
	width: 100%;
	overflow-x: hidden;
	z-index: 20;
    overflow: hidden;
}

.wrapper {
	width: 80vw;
	margin: 0px 10vw;
	overflow-x: auto;
}

#football-pitch {
	top: 50%;
	width: 80vw;
	height: 118.7648456vw;
}